config user admin
	option password 'admin'
	list grant '*'

config user manufacturer
	option password 'K2gyeUtcAAx2G7vTHNha'
	list grant 'mfgd *'
	list grant 'wifid *'

config user audio
	option password 'Pr7xmf07UyTpCWvq8nXg'
	list grant 'audiod set_auth_token'
	list grant 'hotspotd set_capabilities'
	list grant 'ledd switch'

config user mopidy
	option password '5jn39xJnZ7EPuQb05TD9'
	list grant 'audiod set_auth_token'
	list grant 'audiod notify_mute'
	list grant 'audiod notify_unmute'
	list grant 'audiod notify_play'
	list grant 'audiod notify_stop'
	list grant 'audiod notify_pause'

config apply network
	list exec '/etc/init.d/network reload'

config apply firewall
	list exec '/etc/init.d/firewall reload'
